{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>CKEditor 5 InlineEditor build</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<main data-editor="InlineEditor" data-collaboration="false" style="padding-top: 100px;">
		<div class="row row-editor centered">
			<form method="POST" enctype="multipart/form-data"  novalidate>
				{% csrf_token %}
				{{ form.media }}
				{{form}}
				<input type="submit" value="add">
			</form>
		</div>
	</main>
</body>

</html>