<!DOCTYPE html>

<html lang="ar" dir="rtl">
<head>
	<title>CKEditor 5 InlineEditor build</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
    {% for text in texts %}
        {{ text.title }}
        {{ text.text|safe }}
        <hr>
    {% endfor %}
        

    <script>
        var img = document.getElementsByTagName("img");
        for (i = 0; i < img.length; i++) {
            node=img[i]
            node.setAttribute("style", "max-width:100%; height:auto;");
        }
    </script>
</body>
</html>